* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: gray;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu {
  border: 1px solid white;
  color: white;
  padding: 15px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 45px 0px;
}
.article {
  background-color: lightgray;
  height: 400px;
  width: 200px;
  margin-left: 5px;
}
.article-title {
  background-color: gray;
  height: 20%;
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  padding: 10px;
}
.footer-item {
  padding: 15px;
  color: white;
  border: 1px solid white;
  width: 250px;
}
